<!DOCTYPE html>
<html>

  <head>
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css" />

    <script type="text/javascript" src="../../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>

  </head>

<body>
    <div class="container-fluid" style="padding: 10px">

        <div class="panel panel-default" ng-app="domApp" ng-controller="domCtrl">
            <div class="panel-heading">
                Angular Select
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <input type="checkbox" ng-model="switch" ng-checked="true" /> Is Enable ?

                        <select ng-model="provinces" ng-show="switch" ng-init="switch=true">
                            <option value="-1">Please choose</option>
                            <option value="010">Beijing</option>
                            <option value="021">Shanghai</option>
                        </select>
                        
                    </li>
                    <li class="list-group-item">
                        {{switch}}
                    </li>
                    <li class="list-group-item">
                    </li>
                    <li class="list-group-item">
                    </li>

                </ul>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        var app = angular.module('domApp', []);

        app.controller('domCtrl', function($scope){
            $scope.provinces
        });



    </script>

</body>

</html>
