<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.js"></script> -->

</head>
<body  ng-app="myapp">
    <div class="container-fluid" style="padding: 0 0 0 0" ng-controller="myctrl">

        <div class="panel panel-default">
            <div class="panel-heading">
                JDCharts Integrated by Highcharts and AngularJS
            </div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-xs-9">
                        <div class="row">
                            <jdchart id="chart1" config="chartConfig" class="span9"></jdchart>
                        </div>
                        <div class="row-fluid">
                            <label for="prettyJSON">
                                <input id="prettyJSON" type="checkbox" ng-model="prettyJSON"> Pretty JSON</label>
                        </div>
                        <div class="row-fluid">
                            <pre ng-show="prettyJSON">
                                {{ chartConfig | json }}
                                                    </pre>
                            <pre ng-show="!prettyJSON">
                                {{ chartConfig }}
                                                    </pre>
                        </div>
                    </div>

                    <div class="col-xs-3">
                        <div class="row" style="padding-left: 20px">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row-fluid">Title
                                        <input ng-model="chartConfig.title.text">
                                    </div>
                                    <div class="row-fluid">Subtitle
                                        <input ng-model="chartConfig.subtitle.text">
                                    </div>
                                    <div class="row-fluid">Width
                                        <input ng-model="chartConfig.size.width">
                                    </div>
                                    <div class="row-fluid">Height
                                        <input ng-model="chartConfig.size.height">
                                    </div>
                                    <div class="row-fluid">
                                        <button ng-click="reflow()">reflow</button>
                                    </div>
                                    <div class="row-fluid">Default Type
                                        <select ng-model="chartConfig.options.chart.type" ng-options="t.id as t.title for t in chartTypes"></select>
                                    </div>
                                    <div class="row-fluid">Stack
                                        <select ng-model="chartConfig.options.plotOptions.series.stacking" ng-options="t.id as t.title for t in chartStack"></select>
                                    </div>
                                    <div class="row-fluid">
                                        <label>
                                            <input type="checkbox" ng-model="chartConfig.loading"> is loading</label>
                                    </div>
                                    <div class="row-fluid">
                                        <label>
                                            <input type="checkbox" ng-model="chartConfig.credits.enabled"> credits</label>
                                    </div>
                                </li>
                            </ul>


                            <h4>Series</h4>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row-fluid" ng-repeat="ser in chartSeries">
                                                                    <div class="span12 well">
                                                                        <div class="row-fluid">Title
                                                                            <input ng-model="ser.name">
                                                                        </div>
                                                                        <div class="row-fluid">Type
                                                                            <select ng-model="ser.type" ng-options="t.id as t.title for t in chartTypes"></select>
                                                                        </div>
                                                                        <div class="row-fluid">Color
                                                                            <input ng-model="ser.color">
                                                                        </div>
                                                                        <div class="row-fluid">Width
                                                                            <input ng-model="ser.lineWidth">
                                                                        </div>
                                                                        <div class="row-fluid">Dash Style
                                                                            <select ng-model="ser.dashStyle" ng-options="ds.id as ds.title for ds in dashStyles"></select>
                                                                        </div>
                                                                        <div class="row-fluid">
                                                                            <label>
                                                                                <input type="checkbox" ng-model="ser.connectNulls"> interpolate</label>
                                                                        </div>
                                                                        <div class="row-fluid">
                                                                            <button ng-click="removeSeries($index)">Delete</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row-fluid">
                                                                    <button ng-click="addSeries()">Add Series</button>
                                                                </div>
                                                                <div class="row-fluid">
                                                                    <button ng-click="addPoints()">Add Points to Random Series</button>
                                                                </div>
                                                                <div class="row-fluid">
                                                                    <button ng-click="removeRandomSeries()">Remove Random Series</button>
                                                                </div>
                                                                <div class="row-fluid">
                                                                    <button ng-click="toggleHighCharts()">HighChart/HighStock</button>
                                                                </div>
                                                                <div class="row-fluid">
                                                                    <button ng-click="replaceAllSeries()">Replace all series</button>
                                                                </div>
                                                                <div class="row-fluid">Min:
                                                                    <input type="number" ng-model="chartConfig.xAxis.currentMin">
                                                                </div>
                                                                <div class="row-fluid">Max:
                                                                    <input type="number" ng-model="chartConfig.xAxis.currentMax">
                                                                </div>                                
                                </li>
                            </ul>
                            
                        </div>
                    </div> <!-- Right configuration panel -->               
                </div>
            </div>
        </div>
    </div>

</body>

    <script src="../../bower_components/angular/angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../bower_components/highcharts/highcharts.js" type="text/javascript" charset="utf-8"></script>

    <script src="jdchart.service.js"></script>
    <script src="highchart.directive.js"></script>
    <script src="jdchartApp.js"></script>
</html>