<!--{content-->
<div class="content-form">
    <table class="table-box">
        <tr><th>用户名</th><td><input class="frinput" type="text" placeholder="手机/邮箱/用户名"><span class="error-tip on">不能为空</span></td></tr>
        <tr><th>密  码</th><td><input class="frinput" type="text" placeholder="请输入密码"><span class="error-tip">忘记密码</span></td></tr>
        <tr><th>&nbsp;</th><td><label class="pact"><input type="checkbox" checked="checked">下次自动登录</label></td></tr>
        <tr><th>&nbsp;</th><td><input class="button-sub" type="button" value="登录"></td></tr>
        <tr><th>&nbsp;</th><td><a class="registernav" ui-sref="register">立即注册</a></td></tr>
    </table>
</div>
<!--content}-->