<!--{content-->
<div class="content-form">
    <table class="table-box">
        <tr><th>用户名</th><td><input class="frinput" type="text" placeholder="请设置用户名"><span class="error-tip on">输入格式有误</span></td></tr>
        <tr><th>手机号</th><td><input class="frinput" type="text" placeholder="可用于登录和找回密码"><span class="error-tip">输入格式有误</span></td></tr>
        <tr><th>验证码</th><td><input class="frinput" type="text" placeholder="输入验证码"><span class="error-tip on">验证码有误</span></td></tr>
        <tr><th>密    码</th><td><input class="frinput" type="text" placeholder="请设置登录密码"><span class="error-tip on">请输入6位密码</span></td></tr>
        <tr><th>&nbsp;</th><td><label class="pact"><input type="checkbox" checked="checked">阅读并接受《京东用户协议》</label></td></tr>
        <tr><th>&nbsp;</th><td><input class="button-sub" type="button" value="注册"></td></tr>
    </table>
</div>
<!--content}-->