<!--{content-->
<div class="content-form">
    <table class="table-box">
        <tr><th>公司名</th><td><input class="frinput" type="text" placeholder="输入您的公司名"><span class="error-tip on">不能为空</span></td></tr>
        <tr><th>姓    名</th><td><input class="frinput" type="text" placeholder="输入您的姓名"></td></tr>
        <tr><th>职    位</th><td><input class="frinput" type="text" placeholder="输入您的职位"></td></tr>
        <tr><th>联系方式</th><td><input class="frinput" type="text" placeholder="输入您的联系方式：QQ/手机/邮箱"></td></tr>
        <tr><th>留    言</th><td><textarea class="fritext" placeholder="输入您的意见"></textarea></td></tr>
        <tr><th>&nbsp;</th><td><input class="button-sub" type="button" value="提交"></td></tr>
    </table>
</div>
<!--content}-->
