<!--{帮助与支持-->
<div class="help-wrapper">
    <p class="title">Q：什么是京东供应链AI技术开放平台</p>
    <p class="txt"><strong>A：</strong>京东供应链AI技术开放平台依托京东在供应链领域的资源优势、技术优势、人才优势， 对外提供供应链领域的预测、
        运筹优化和仿真等方面的服务，开放京东供应链领域的技术能力，让大数据辅助企业进行商业运营决策。基于京东自营的海量SKU和供应链数据，
        结合供应链上下游的资源整合，运用人工智能技术搭建预测、优化和仿真三大技术平台，为京东商业伙伴和第三方开发者赋能。</p>
    <p class="title">Q：供应链AI技术开放平台有哪些功能</p>
    <p class="txt"><strong>A：</strong>目前，供应链AI技术开放平台是对内版本，三个平台只提供了简单的算法试用功能，用户可以上传自有数据，
        并查看或下载运行后的结果。在后续版本中，我们会提供更多与供应链业务场景结合的功能。</p>
    <p class="title">Q：如何可以试用？</p>
    <p class="txt"><strong>A：</strong>当前版本只对内开放，可以试用erp账户进行登录，进行功能试用。</p>
    <p class="title">Q：上传数据时，有哪些注意事项？</p>
    <p class="txt"><strong>A：</strong>三个平台试用功能上传的数据根据选择的算法不同，有一定的数据格式限制，在试用页面有相应的数据模版，
        您可以下载希望试用算法的数据模版，将自己的数据填入模版，并将数据文件上传即可。</p>
    <p class="title">Q：提交试用任务有什么限制</p>
    <p class="txt"><strong>A：</strong>每次只能提交1个任务，当前任务运行完成后，才能提交下一个任务。
        系统只保存最近5个历史任务的结果。</p>
</div>
<!--帮助与支持}-->