<div class="content-index">
    <!--{banner-->
    <div class="banner">
        <h1>供应链AI技术开放平台</h1>
        <p class="subtit">
            为您开启智慧供应链时代的无限可能<br>
            专注 · 创新 · 开放
        </p>
        <p class="main">京东人工智能技术开放是基于京东领先的供应链人工智能技术打造的开放平台，提供了预测、优化、仿真等一系列人工智能产品及解决方案，帮助各行各业的客户打造智能化业务系统</p>
    </div>
    <!--banner}-->
    <!--{三大技术平台-->
    <div class="threebox">
        <h2>三大技术平台</h2>
        <div class="wrapper">
            <a class="lister" ui-sref="predict">
                <div class="main">
                    <img class="pic" ng-src="../../src/assets/pic-t1.jpg">
                    <h3>预测平台</h3>
                    <div class="textbox">
                        <p class="txt">提供具有供应链特色的集成化、平台化、自动化预测服务</p>
                        <span class="more">查看更多</span>
                    </div>
                </div>
                <span class="icon img1"></span>
            </a>
            <a class="lister" ui-sref="tlp">
                <div class="main">
                    <img class="pic" ng-src="../../src/assets/pic-t2.jpg">
                    <h3>优化平台</h3>
                    <div class="textbox">
                        <p class="txt">为供应链中的智能决策问题提供最优的算法和求解服务</p>
                        <span class="more">查看更多</span>
                    </div>
                </div>
                <span class="icon img2"></span>
            </a>
            <a class="lister" ui-sref="simulation">
                <div class="main">
                    <img class="pic" ng-src="../../src/assets/pic-t3.jpg">
                    <h3>仿真平台</h3>
                    <div class="textbox">
                        <p class="txt">针对供应链系统对象的多样性和复杂性，提供仿真与模拟服务</p>
                        <span class="more">查看更多</span>
                    </div>
                </div>
                <span class="icon img3"></span>
            </a>
        </div>
    </div>
    <!--三大技术平台}-->
    <!--{行业应用-->
    <div class="industry">
        <h2>行业应用</h2>
        <!-- {Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <a class="swiper-slide" href="javascript:void(0)"><img ng-src="../../src/assets/industry-pic1.jpg">
                    <p>零售行业</p></a>
                <a class="swiper-slide" href="javascript:void(0)"><img ng-src="../../src/assets/industry-pic2.jpg">
                    <p>鞋服行业</p></a>
                <a class="swiper-slide" href="javascript:void(0)"><img ng-src="../../src/assets/industry-pic3.png">
                    <p>3C行业</p></a>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!--行业应用}-->
    <!--{行业合作-->
    <div class="bottomtxt">
        <h2>我们的行业合作伙伴</h2>
        <img class="icon-jd" ng-src="../../src/assets/icon-jd.png">
    </div>
    <!--行业合作}-->
</div>
